{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <p class="text-justify">
          This is <b>Shambasan Mohanavel</b> from <b>Krishnagiri</b>.
          I completed the Integrated Masters Programme in <b>Software Engineering</b> at <b>VIT, Vellore</b>.
          I have experience in web development and am proficient in Python programming.
          As a technology enthusiast, I have always been fascinated by the ever-evolving field of cybersecurity and
          its critical role in protecting businesses and individuals from cyber threats.
          I have demonstrated the ability to work effectively in a team environment, adapt to new technologies quickly,
          and apply my knowledge to real-world projects.
        </p>

          <p class="text-justify"> Outside of my professional interests, I engage in various hobbies, including badminton,
          volleyball, and basketball, not on a professional level but for maintaining physical strength. I also enjoy
          watching movies and traveling, especially in a car.
        </p>

      </div>
    </div>
  </div>
</main>


{% include "footer.html" %}
